<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <script src="~/scripts/angular/angular.min.js"></script>
    <script type="text/javascript" src="~/scripts/app/shop.module.js"></script>
    @RenderSection("HeadScripts", false)
    @RenderSection("HeadStyles", false)
</head>
<body ng-app="shopModule">
    <div>
        @RenderBody()
    </div>
</body>
</html>
