@model IEnumerable<OnlineShop.Entities.Category>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section HeadScripts{
    <script type="text/javascript" src="~/Areas/Client/Scripts/dashboard/dashboard.service.js"></script>
    <script type="text/javascript" src="~/Areas/Client/Scripts/dashboard/dashboard.controller.js"></script>
}
@section HeadStyles{

}

<div ng-controller="dashboardCtrl">
    <h3>Categories</h3>
    <select>
        <option>All</option>
        <option ng-repeat="category in categories">{{category}}</option>
    </select>
</div>
